*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  margin: 5%;
  
}
.title{
  color: #38B6FF;
}
.App{
 display: flex;
 justify-content: center;
 align-items: center;
}
.container {
 display: flex;
 width: 70%;
 flex-direction: column;
}
.body {
  display: flex;
  width: 100%;
}
.showNote-li{
  border: 2px solid white;
}
#selectNote {
  height: 25px ;
  margin-left: 10px;
}
#addNote{
  height: 20px ;
}
#search-input{
  height: 20px;
  width: 100%;
}
.button{
  margin-left: 10px;
  height: 26px;
  width: 100px;
  font-weight: bold;
  background-color: #38B6FF;
  border: none;
  color: #fff;
  cursor: pointer;

}
.categoryTitle{
  margin-top: -8.7%;
  margin-left: 55%;
  color: #B87ED6;
}
.searchNotes ul li {
  text-align: center;
  padding: 5px;
  list-style-type: none;
}
.searchNotes{
  margin-left: 33%;
  background-color: #38B6FF;
  height: 30px;
  width: 270px;
}
.clear-filters {
  margin-left: 0px;
}
.category {
  margin-top: 50px;
}
.section-title {
  font-size: 25px;
}
.search-notes-section {
  margin-left: 100px;
}
.note-data p {
  margin-bottom: 0
}
.bold {
  font-weight: bold;
}